.navbar-inverse {
     background: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: navy;
    background: #aaa;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: navy;
    background: #aaa;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #ccc;
    color:#fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-brand img{
    height: 30px;
    width: 40px;
}

.jumbotron {
    background: #aaa;
}
.jumbotron h1 {
    color: navy;
    font-weight: bolder;
    text-align: center;
}
h2 {
    font-weight: bold;
    text-align: center;
}
.carousel-indicators {
    background: #CCc;
}
.carousel .item {
  height: 300px;
}
.carousel-caption {
    background: rgba(240,240,240,0.5);
    color: #000;
}
.carousel-caption h2 {
    color: navy;
    font-weight: 600;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}
footer p {
    padding-top: 10px;
    text-align: center;
}